<div class="well well-lg center" id="home">

  <p>Rate My Rental Agent is a simple website to enable
    tenants to view and create ratings for rental agencies. The more
    ratings entered the more helpful this website will be, so please feel
    free to add ratings for agencies you may have used.</p>
  <p>** Simply search for an agent using the box below. Then follow
    the links to view previous ratings or add your own rating. **</p>


  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg" %>
  <%= link_to "Log in", login_path, class: "btn btn-info btn-lg" %>

</div>