<div class="container">
<div class="row">
<div class="col-sm-6">
<!--<div class="well well-lg center" id="home_old">-->
<!--<h3>-->
<!--Find a good real estate rental agent.-->
<!--</h3>-->
<!--<h4>-->
<!--Read and write honest reviews for rental agents.-->
<!--</h4>-->
<!--</div>-->
<!--<p>Rate My Rental Agent is a simple website to enable-->
<!--tenants to view and create ratings for rental agencies. The more-->
<!--ratings entered the more helpful this website will be, so please feel-->
<!--free to add ratings for agencies you may have used.</p>-->
<!--<p>** Simply search for an agent using the box above. Then follow-->
<!--the links to view previous ratings or add your own rating. **</p>-->

<!--



<%= image_tag('R_and_E.jpg', class: "img-responsive") %>