<div class="container" id="home">
  <div class="row" id="top">
    <div class="cell cell-1"></div>
  </div>
  <div class="row" id="banner">

    <div class="cell cell-2" style="vertical-align: middle">
      <div class="col-sm-5 col-sm-offset-2">
        <ul>
          <li class="one">
            Find a good real estate rental agent.
          </li>
          <li class="two">
            Read reviews for rental agents
          </li>
          <li class="three">
            Write reviews for rental agents
          </li>
        </ul>
      </div>
      <div class="col-sm-1">
        <div align="center"> <%= image_tag('logo_yellow_text_large_purple.png') %> </div>
      </div>
    </div>
  </div>
  <div class="row" id="bottom">
    <div class="cell cell-3">
      <div class="buttons" align="center">
        <% if !logged_in? %>
            <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg" %>
            <%= link_to "Log in", login_path, class: "btn btn-info btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
