<div class="container" id="home">
  <div class="row" id="top">
    <div class="cell cell-1">Content</div>
  </div>
  <div class="row" id="banner">
    <div class="cell cell-2">
      <div align="center"> <%= image_tag('LOGO_text_side.png') %> </div>
      <h1 align="center">
      Find a good real estate rental agent.
    </h1>
      <h2 align="center">
        Read reviews for estate agents
      </h2>
      <h2 align="center">
        Write reviews for estate agents
      </h2>
    </div>
  </div>
  <div class="row" id="bottom">
    <div class="cell cell-3">
      <% if !logged_in? %>
          <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg" %>
          <%= link_to "Log in", login_path, class: "btn btn-info btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
