<div class="container" id="home">
  <div class="row" id="home">
    <div class="cell cell-1">Content</div>
  </div>
  <div class="row" id="banner">
    <div class="cell cell-2"><h3 align="center">
      Find a good real estate rental agent.
    </h3></div>


  </div>
  <div class="row" id="home">
    <div class="cell cell-3">
      <% if !logged_in? %>
          <%= link_to "Sign up now", signup_path, class: "btn btn-danger" %>
          <%= link_to "Log in", login_path, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
