<h1 align="center">Listing all ratings</h1>

<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
<%= render 'rating', obj: @ratings %>
<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
