<div class="row">
  <div class="col-sm-12">
    <div align="center" class="search">
      <%= form_tag agents_path, method: :get do %>
          <%= text_field_tag :by_name, params[:by_name], autofocus: true, placeholder: "enter agent name" %>
          <%= text_field_tag :by_suburb, params[:by_suburb], autofocus: true, placeholder: "enter suburb" %>
          <%= submit_tag "Search", name: nil, class: 'search_button' %>
      <% end %>
    </div>
  </div>
</div>
