<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
<% if "#{params[:search]}" %>
    <p align="center" class="search-term">You searched for agents with '<%= "#{params[:search]}" %>' in the name</p>
<% end %>
<% if @agents.size == 0 %>
    <p align="center" class="search-term">No agents were found</p>
<% else %>
    <%= render 'agent', obj: @agents %>
    <div align="center">
      <%= will_paginate renderer: BootstrapPagination::Rails %>
    </div>
<% end %>