<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
<% if @params %>
    <p align="center" class="search-term">You searched for agents with '<%= "#{params[:by_name]}" %>' in the name</p>
<% end %>
<% if @agents.size == 0 %>
    <p align="center" class="search-term">No agents were found</p>
<% else %>
    <%= render 'agent', obj: @agents %>
    <div align="center">
      <%= will_paginate renderer: BootstrapPagination::Rails %>
    </div>
<% end %>