$navbar-default-bg: #6C6488;

@import "bootstrap-sprockets";
@import "bootstrap";

html,body,.container {
  height:100%;
}

.container {
  display:table;
  width: 100%;
  margin-top: -30px;
  padding: 5px 0 0 0;
  box-sizing: border-box;
}

#footer.container {
  max-height: 25%;
  padding: 0;
  background: #6C6488;
}
header {
  background: green;
  height: 50px;
}

.row#home {
  height: 25%;
  display: table-row;
  opacity: 0.5;
}

.row#banner {
  height: 50%;
  display: table-row;
  opacity: 0.5;
}

.row .cell {
  display: table-cell;
  float: none;
}

.cell-1 {
  background: #6C6488;
  width: 100%;
}

.cell-2 {
  background: #6BBAA7;
  width: 100%;
}

.cell-3 {
  background: #6C6488;
  width: 100%;
}

body {
  background: asset-url('dusty.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0% 15%;
  background-color: #6C6488;
}

#logo:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand#logo {
  margin-top: 0;
  padding-top: 0;
  float: left;
}

.center {
  text-align: center;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.footer {
  border-top: 1px solid #eaeaea;
  color: #777;;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

.agent-name {
  margin-bottom: 5px;
  font-size: medium;
}

.agent-name a {
  color: #6730EC;
}

.agent-suburb {
  margin-bottom: 5px;
  font-size: medium;
}

.agent-state {
  margin-bottom: 5px;
  font-size: medium;
}

.agent-meta-details {
  margin-top: 15px;
  border-top: 1px solid #D2F6FC;
  padding-top: 10px;
}

.action-buttons {
  margin-top: 10px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.navbar-default {
 border: none;
}

.navbar-default li {
  line-height: 107px;
}

.navbar-default li a {
  display: inline-block;
  vertical-align: middle;
}

.navbar-default .form-group {
  vertical-align: middle;
  line-height: 107px;
}

#dropdown {
  line-height: 10px;
}

li.a.menu-items {
  color: #D2F6FC;
}

a.dropdown-toggle {
  color: #D2F6FC;
}

.pagination > .active > span {
  background-color: #7984EE;
  border-color: #7984EE;
}

.pagination > li > a {
  color: #7984EE;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #7984EE;
}

.navbar-nav > li > a:focus {
  color: white;
}

.navbar-nav > .open > a:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.btn-default {
  color: #7984EE;
  background-color: white;
}

.btn-default:hover {
  color: white;
  background-color: #7984EE;;
}

.form-control {
  color: #7984EE;
  background-color: white;
}

.form-controler::-webkit-input-placeholder {
  color: white;
}

*::-webkit-input-placeholder {
  color: white;
}

.form-control::-moz-placeholder {
  color: #7984EE;
}

*::-moz-placeholder {
  color: #7984EE;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.well {
  background-color: white;
  border-color: #6730EC;

}

.well#agents {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.well#home {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  font-size: 18px;
  background-color: inherit;
  border-color: #D2F6FC;
}

.row#agent-list {
  margin-left: 10px;
}

.agent-buttons .btn.btn-xs.btn-success {
  margin: 3px;
  width: 103px;
}

.agent-buttons .btn.btn-xs.btn-primary {
  margin: 3px;
  width: 103px;
}

.agent-buttons .btn.btn-xs.btn-danger {
  margin: 3px;
  width: 103px;
}

.agent-buttons {
  margin-bottom: 10px;
}

div.star_rating {
  font-size: 16px;
}

.rating-list {
  border-top: 1px solid #D2F6FC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.btn-danger {
  background-color: #7984EE;
  border-color: #6730EC;
}

.btn-info {
  background-color: #A9D2FF;
  border-color: #6730EC;
}

.btn-primary {
  background-color: #7984EE;
  border-color: #6730EC;
}

//Colour palette
//#http://www.colorhunt.co/hot
//#D2F6FC
//#A9D2FF
//#7984EE
//#6730EC

//https://designschool.canva.com/blog/website-color-schemes/
//#6BBAA7 aqua
//#FBA100 sunshine
//#6C6488 lavender
//#B6A193 dusty rose