$navbar-default-bg: #6730EC;

@import "bootstrap-sprockets";
@import "bootstrap";
//
//#logo {
//  float: left;
//  font-size: 1em;
//  color: #fff;
//  text-transform: uppercase;
//  letter-spacing: -1px;
//  font-weight: bold;
//  //background-image: asset-url('HouseLogo.png');
//  background-size: 100%;
//}

#logo:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand#logo {
  margin-top: 0;
  padding-top: 0;
  float: left;
  height: 102px;
}
.center {
  text-align: center;
}

.jumbotron {
  //background-size: cover;
  //height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.footer {
  margin-top: 45px;
  paddding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

//Colour palette
//#http://www.colorhunt.co/hot
//#D2F6FC
//#A9D2FF
//#7984EE
//#6730EC