$navbar-default-bg: #B6A193;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  background-color: inherit;
}

.navbar {
  margin-bottom: 0;
}

.container {
  display: table;
  height: 75%;
  width: 100%;
  margin-top: -140px;
  padding: 5px 0 0 0;
  box-sizing: border-box;
  background-color: inherit;
}

#navbar.container {
  height: 110px;
  margin-top: 0;
}

#new.container {
  height: 100%;
  margin-top: 0;
}

#home.container {
  height: 100%;
  margin-top: 0;
}

#footer.container {
  max-height: 10%;
  padding: 0;
  margin-top: 0;
}

.row#banner {
  font-size: 23px;
  height: 35%;
  display: table-row;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}

.row#banner ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row#banner li {
  background-repeat: no-repeat;
  background-position: 1em;
  padding-left: 4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row#banner li.one {
  background-image: asset-url('magnifying_glass2');
}

.row#banner a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.row#banner li.two {
  background-image: asset-url('book1.png');
}

.row#banner li.three {
  background-image: asset-url('pen3.png');
}

.row#top {
  height: 25%;
  display: table-row;
}

.row#bottom {
  height: 25%;
  display: table-row;
}

.buttons {
  margin-right: 20px;
  margin-top: 20px;
}

.row .cell {
  display: table-cell;
  border: none;
  float: none;
}

.cell-1 {
  width: 100%;
}

.cell-2 {
  background: #6BBAA7;
  width: 100%;
  opacity: 0.7;
  padding-top: 10px;
}

.cell-3 {
  width: 100%;
}

html {
  background: asset-url('dusty.jpg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  height: 100%;
}

#logo:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand#logo {
  margin-top: 0;
  padding-top: 0;
  float: left;
}

.center {
  text-align: center;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

.agent-name {
  margin-bottom: 5px;
  font-size: medium;
}

.agent-name a {
  color: white;
}

.agent-suburb {
  margin-bottom: 5px;
  font-size: medium;
}

.agent-state {
  margin-bottom: 5px;
  font-size: medium;
}

.agent-meta-details {
  margin-top: 15px;
  border-top: 1px solid #D2F6FC;
  padding-top: 10px;
}

.action-buttons {
  margin-top: 10px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.navbar-default {
  border: none;
  background-color: inherit;
  font-weight: 200;
  text-transform: uppercase;
  height: 13%;
}

.navbar-default li {
  line-height: 107px;
}

li#dropdown {
  line-height: 10px;
}

.navbar-default li a {
  display: inline-block;
  vertical-align: middle;
}

.navbar-default .form-group {
  vertical-align: middle;
  line-height: 107px;
}

.dropdown-menu {
  background-color: inherit;
}

.dropdown-menu > li > a {
  color: #6C6488;
  border-bottom: 1px;
}

li.a.menu-items {
  color: #D2F6FC;
}

a.dropdown-toggle {
  color: #D2F6FC;
}

.pagination > .active > span {
  background-color: #7984EE;
  border-color: #7984EE;
}

.pagination > li > a {
  color: #7984EE;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #6C6488;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #6C6488;
}

.navbar-default .navbar-nav > .active > a {
  color: white;
  background-color: inherit;
  box-shadow: 0 0 white, inset 0px -1px
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #6C6488;
  background-color: inherit;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: white;
  background-color: inherit;
}

.dropdown-menu .divider {
  margin: 3px 8px;
  background-color: #B6A193;
}

.btn-default {
  color: #7984EE;
  background-color: white;
}

.btn-default:hover {
  color: white;
  background-color: #7984EE;;
}

.form-control {
  color: #7984EE;
  background-color: white;
}

.form-controler::-webkit-input-placeholder {
  color: lightgrey;
  font-weight: 200;
  font-size: 14px;
}

*::-webkit-input-placeholder {
  color: lightgrey;
  font-weight: 200;
  font-size: 14px;
}

.form-control::-moz-placeholder {
  color: lightgrey;
  font-weight: 200;
  font-size: 14px;
}

*::-moz-placeholder {
  color: lightgrey;
  font-weight: 200;
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  color: lightgrey;
  font-weight: 200;
  font-size: 14px;
}

.well {
  background-color: inherit;
  border-color: #6BBAA7;
  border-style: none;
  -webkit-box-shadow: none;
}

.well#agents {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 4px;
  color: white;
  font-weight: 200;
  max-width: 65%;

}

.well#agents hr {
  border-top-color: #6BBAA7;
  margin-top: 7px;
  margin-bottom: 7px;
}

.well#home {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  font-size: 18px;
  background-color: inherit;
  border-color: #D2F6FC;
}

.row#agent {
  margin-left: 20px;
  margin-right: 20px;
}

.row#agent-list {
  margin-left: 10px;
}

.agent-buttons .btn.btn-xs.btn-success {
  margin: 3px;
  width: 103px;
}

.agent-buttons .btn.btn-xs.btn-primary {
  margin: 3px;
  width: 103px;
}

.agent-buttons .btn.btn-xs.btn-info {
  margin: 3px;
  width: 103px;
}

.agent-buttons .btn.btn-xs.btn-danger {
  margin: 3px;
  width: 103px;
}

.agent-buttons {
  margin-bottom: 0px;
}

div.star_rating {
  font-size: 16px;
}

.rating-list {
  border-top: 1px solid #D2F6FC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.btn-danger {
  background-color: #D9534F;
  border-color: #D9534F;
}

.btn-info {
  background-color: #6C6488;
  border-color: #6C6488;
}

.btn-primary {
  background-color: #6BBAA7;
  border-color: #6BBAA7;
}

.btn-primary:hover {
  background-color: #FBA100;
  border-color: #FBA100;
}

.btn-info:hover {
  background-color: #6BBAA7;
  border-color: #6BBAA7;
}

.btn-danger:hover {
  background-color: #6BBAA7;
  border-color: #6BBAA7;
}

.alert-success {
  background-color: inherit;
  border-color: #6BBAA7;
  color: white;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  color: white;
  font-weight: 200;
}

.profile hr {
  border-top-color: #6BBAA7;
  margin-left: 15px;
  margin-right: 15px;
}

.form-horizontal#login {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.search input {
  font-size: large;
  padding: 10px;
}

.search input:focus, input[type]:focus {
  border: 1px solid #6C6488;
  outline: #6C6488 solid 1px;
}

.search_button {
  background-color: #6BBAA7;
  color: white;
  border: 1px solid #6BBAA7;
}

.search_button:focus, .search_button:hover {
  background-color: #FBA100;
  border: 1px solid #FBA100;
}

.search-term {
  font-size: 20px;
  color: white;
  font-weight: 200;
  margin-bottom: 30px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover {
  background-color: inherit;
  color: #6BBAA7;
  font-weight: bold;
  border: none;
}

.pagination > .active > span,  .pagination > .active > span:hover, .pagination > li > a, .pagination > li > a:hover {
  background-color: inherit;
  border: none;
  font-weight: bold;
  color: #6BBAA7;
}

.pagination > li > a:hover {
  color: white;
}

.pagination > .active > span, .pagination > .active > span:hover {
  color: white;
  font-weight: bold;
  background-color: inherit;
  border-color: #6BBAA7;
}

.pagination > li:first-child > span {
  background-color: inherit;
  border-color: #6BBAA7;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

label.table-header, label.table-header a {
  color: #6C6488;
}
//Colour palette
//#http://www.colorhunt.co/hot
//#D2F6FC
//#A9D2FF
//#7984EE
//#6730EC

//https://designschool.canva.com/blog/website-color-schemes/
//#6BBAA7 aqua
//#FBA100 sunshine
//#6C6488 lavender
//#B6A193 dusty rose